@media screen and (min-width: 768px) {
  .slider-section {

    .icon-chevron-right {
      right: 30px;
    }

    .icon-chevron-left, .icon-chevron-right {
      top: 31%;
      font-size: 3.7em;
    }

    .header {
      top: 28%;

      span.block {
        margin: 10px 0;
      }

      .inline-block {
        padding: 10px;
      }

      .inline-block:after {
        background: #000;
      }

      .block:first-child .inline-block {
        font: 700 1.8em/1.2em $ubuntu;

        &:after {
          width: 142%;
          left: -21%;
        }
      }
      .block:last-child .inline-block{
        margin-top: 5px;
        font: 700 1.8em/1.3em $ubuntu;
        letter-spacing: 1.5px;

        &:after {
          width: 120%;
          left: -10%;
        }
      }
    }

    .description {
      padding: 30px 0;
      font: 550 1.55em/1em $ubuntu;
      a {
        font: 700 1.1em/1em $ubuntu;
        letter-spacing: 1.2px;
      }
    }
  }
}