@media screen and (min-width: 768px) {
  .talk-to-us {
    margin-bottom: 5px;
    p {
      margin: 0 auto;
      padding: 10px 78px 5px;
      font: 400 1.38em/1.35em $myriadProRegular;
      -moz-hyphens: none;
      -webkit-hyphens: none;
      -ms-hyphens: none;
      hyphens: none;
    }
  }

  .contact-us-section {
    .header {
      font: 700 2.2em/1.9em $ubuntu;
      margin-bottom: 30px;
    }

    .description {
      font: 400 1.25em/1.55em $ubuntu;
      padding: 0 40px;
      margin-bottom: 0;
    }

    .map-box {
      img {
        margin: 0 auto;
        width: auto;
      }
    }
  }

  .contacts {
    .header {
      font: 700 2.2em/1.88em $ubuntu;

      &:after {
        width: 30%;
        left: 35%;
      }
    }
  }

  .contacts-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    width: 85%;
    margin: 0 auto;

    .item {
      margin: 0;
      &:before {
        font-size: 1.8em;
        margin-right: 20px;
      }
      &:first-child {
        order: 2;

      }
      &:nth-child(2) {
        order: 3;
        text-align: right;
        margin-bottom: 22px;
        &:before {
          margin-right: 20px;
          font-size: 1.6em;
        }
      }
      &:last-child {
        order: 1;
        text-align: center;
        margin-bottom: 16px;
        &:before {
          margin-right: 20px;
          font-size: 1.4em;
        }
        a {
          width: 35%;
          vertical-align: top;
          font: 400 1.24em/1.7em $ubuntu;
        }
      }
      a {
        color: $light-gray;
        font: 400 1.2em/1.5em $ubuntu;
        width: 65%;
      }
    }
  }

  .contact-form {
    text-align: center;
    .form-list {

      .item:last-child {
        margin-top: 20px;
        margin-bottom: 0;
      }

      input, textarea{
        width: 76.5%;
        margin-left: -8px;
      }
      input[type="submit"] {
        width: 60%;
        margin-top: 5px;
        font: 400 1.54em/.7em $myriadProRegular;
      }
    }
  }
}