/*    Fonts
*  title, servicesHeaders, RecentProjectsDescription, TalkToUsDescription, SubmitBtn, copyright: Myriad Pro
*  nav, slider, postSliderSection, UIBrushSectionHeader, UIBrushSectionContent, servicesContent, RecentProjectsHeader, TalkToUsHeader, ContactUsHeader, ContactUsDescription: Ubuntu
*/

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/MyriadPro-Regular/MyriadPro-Regular.otf')  format('opentype'),
  url('../fonts/MyriadPro-Regular/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf')  format('truetype'), url('../fonts/MyriadPro-Regular/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url('../fonts/Ubuntu-Medium/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/Ubuntu-Medium/Ubuntu-Medium.woff') format('woff'), url('../fonts/Ubuntu-Medium/Ubuntu-Medium.ttf')  format('truetype'), url('../fonts/Ubuntu-Medium/Ubuntu-Medium.svg#Ubuntu-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu/Ubuntu-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Ubuntu/Ubuntu-Light.woff') format('woff'), url('../fonts/Ubuntu/Ubuntu-Light.ttf')  format('truetype'), url('../fonts/Ubuntu/Ubuntu-Light.svg#Ubuntu-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?n03lso');
  src:  url('../fonts/icomoon/icomoon.eot?n03lso#iefix') format('embedded-opentype'),
  url('../fonts/icomoon/icomoon.ttf?n03lso') format('truetype'),
  url('../fonts/icomoon/icomoon.woff?n03lso') format('woff'),
  url('../fonts/icomoon/icomoon.svg?n03lso#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelope-o:before {
  content: "\f003";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-phone:before {
  content: "\f095";
}
.icon-code:before {
  content: "\f121";
}
.icon-location-arrow:before {
  content: "\f124";
}

/** Variables */

$orange: #f36b47;
$light-orange: #f8a48c;
$dark-orange: #f27554;
$orange1: #fe5c32;
$orange2: #f37b5c;

$gray: #4c4c4b;
$gray1: #414141;
$dark-gray1: #484848;
$dark-gray2: #2e2e2e;
$light-gray: #9d9c9c;
$light-gray1: #eeeeee;
$light-gray2: #7a7a7a;
$medium-gray: #605f5f;
$soft-gray: #f0f0f0;
$soft-gray1: #cecece;
$soft-gray2: #d5d4d3;
$soft-gray3: #e0dddd;
$soft-gray4: #cac6c6;

$myriadProRegular: 'MyriadPro-Regular';
$ubuntu: 'Ubuntu';
$icomoon: 'icomoon';

/** Templates **/

%img-responsive {
  width: auto;
  height: auto;
  display: block;
}

%border-bottom {
  border-bottom: 8px solid $orange;
}

%reset-ul {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  & li {
    padding-left: 0;
    margin-left: 0;
  }
}

%section-header {
  font: 700 1.9em/1.2em $ubuntu;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: .5em;

  span{
    border-bottom: 2px solid $orange;
    display: inline-block;
  }
}

%section-description {
  color: $light-gray;
  font: 400 1.38em/1.5em $ubuntu;
  letter-spacing: .16px;
  text-align: center;
  padding: 0 30px 30px;
  margin-bottom: 50px;
}

/**
 * Non-semantic helper classes: please define your styles before this section.
 */

/* For image replacement */

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */

.invisible { visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements in most situations.
   nicolasgallagher.com/micro-clearfix-hack/ */

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

