.footer {
  background: $orange;
  text-align: center;
  padding: 15px 0;

  p{
    color: #fff;
    font: 400 1.38em/1.48em $myriadProRegular;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    p{
      font: 400 1.12em/1.54em $myriadProRegular;
      letter-spacing: -.35px;
    }
  }
}

.footer-slider-box {
  background: #fff;
  position: relative;

  .footer-slider-list {
    @extend %reset-ul;
    .item {
      height: 400px;
      width: 100%;
      text-align: center;

      &:first-child {
        background: #003366;
      }

      &:nth-child(2) {
        background: #f8a48c;
      }

      &:nth-child(3) {
        background: #444444;
      }

      &:last-child {
        background: #999999;
      }
    }
  }
}