.main {

  margin-bottom: 55px;

  .header {
    @extend %section-header;
  }

  .services-list{
    @extend %reset-ul;
  }

  .description {
    @extend %section-description;
    @extend %border-bottom;
  }

  .services-section {
    padding: 40px 0;
    @extend %border-bottom;
  }

  .services-list {

    .item {
      margin-bottom: 25px;

      &:nth-child(2) {
        margin-bottom: 40px;
      }

      &:nth-child(3) {
        margin-bottom: 40px;
      }

      &:nth-child(4) {
        margin-bottom: 5px
      }
    }

    .name {
      font: 400 1.38em/2.2em $myriadProRegular;
      color: $dark-gray2;
      padding-left: 0;

      &:before {
        display: block;
        text-align: center;
        font-size: 1.25em;
        line-height: .8em;
        color: $orange;
      }
    }
  }

  .service {
    width: 75%;
    text-align: center;
    margin: 0 auto;
    font: 400 1.38em/1.1em $ubuntu;
    color: $light-gray;

    p {
      padding-left: 25px;
    }
  }

  //projects//

  .recent-projects-section {

    .header {
      margin-top: 78px;
    }

    .description {
      border-bottom: none;
      margin-top: 20px;
      font: 400 1.3em/1.5em $ubuntu;
    }
  }

  .projects-list {
    @extend %reset-ul;
    text-align: center;
  }

  .item {
    margin-bottom: 60px;

    &:nth-child(2) {
      margin-bottom: 74px;
    }

    &:nth-child(3) {
      margin-bottom: 70px;
    }
  }

  .project {
    width: 250px;
    margin: 0 auto;

    a {
      font: 500 1.69em/1.38em $ubuntu;
      color: $orange1;
    }

    img {
      @extend %img-responsive;
    }

    header {
      background: $light-gray1;
      border: 1px solid $soft-gray3;

      .name {
        position: relative;
        &:after {
          content: "";
          width: 97%;
          position: absolute;
          left: 1.5%;
          bottom: -5px;
          -ms-transform: translate(0, -6px); /* IE 9 */
          -webkit-transform: translate(0, -6px); /* Safari */
          transform: translate(0, -6px);
          height: 2px;
          display: block;
          background: $soft-gray2;
        }
      }

      p {
        font: 400 1.35em/1.37em $ubuntu;
        letter-spacing: -.3px;
        padding-bottom: 5px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .main {

    .services-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .item {
        margin-bottom: 60px;
        &:first-child {
          order: 1;
        }
        &:nth-child(2) {
          order: 3;
        }
        &:nth-child(3) {
          order: 4;
        }
        &:nth-child(4) {
          order: 2;
        }
      }

      .name {
        font: 400 1.11em/2.15em $myriadProRegular;
        text-align: center;
        margin-bottom: 10px;
        &:before {
          font-size: 1.5em;
          line-height: 1em;
        }
      }
    }

    .service {
      width: 75%;
      margin: 0 auto;
      color: $light-gray;

      p {
        padding-left: 10px;
        text-align: left;
        font: 400 .66em/1.5em $ubuntu;
      }
    }
  }
}