.slider-section {
  border-top: 1px solid $soft-gray1;

  .slider-box {
    position: relative;
  }

  .header-slider-list {
    @extend %reset-ul;
  }

  .icon-chevron-left {
    left: 18px;
  }

  .icon-chevron-right {
    right: 18px;
  }

  .icon-chevron-left, .icon-chevron-right {
    position: absolute;
    top: 36%;
    color: $orange;
    opacity: .6;
    z-index: 111000;
    height: 34px;
    width: 18px;
    font-size: 2.54em;
    display: inline-block;
    cursor: pointer;
  }

  .header {
    margin-left: -20px;
    width: 100%;
    position: absolute;
    top: 33%;
    color: #fff;
    z-index: 10;

    .block {
      display: block;
    }

    span.block {
      margin: 10px 0;
      text-align: center;
    }
    
    .inline-block {
      display: inline-block;
      padding: 8px;
      position: relative;
    }

    .inline-block:after {
      content: "";
      display: inline-block;
      height: 2em;
      position: absolute;
      top: 0;
      z-index: -1;
      background: #666;
      opacity: .5;
    }

    .block:first-child .inline-block {

      font: 600 1.2em/1.1em $ubuntu;
      letter-spacing: 1.5px;

      &:after {
        width: 135%;
        left: -17.5%;
      }
    }
    .block:last-child .inline-block{
      color: $soft-gray;
      font: 700 1.33em/1.2em $ubuntu;
      letter-spacing: 1px;

      &:after {
        width: 112%;
        left: -6%;
      }
    }
  }

  .slide {
    .slide-img {
      @extend %img-responsive;
    }
  }

  .description {
    text-align: center;
    padding: 25px 0;
    background: $orange;
    color: #fff;
    font: 500 1.04em/1.14em $ubuntu;
    border-top: 1px solid $light-orange;
    letter-spacing: .35px;
    a {
      text-transform: uppercase;
      text-decoration: none;
      font: 700 1.12em/1.14em $ubuntu;
      color: inherit;
      display: inline-block;
      border-bottom: 1px solid $light-orange;
    }
  }
}
