.talk-to-us {
  background: $light-gray2;
  color: #fff;
  padding: 28px 0 60px;

  .header {
    text-align: center;
    font: 600 4.61em/1.84em $ubuntu;
    padding-top: 30px;
    span {
      color: $orange;
    }
  }

  p {
    text-align: center;
    font: 400 1.84em/1.08em $myriadProRegular;
    letter-spacing: 0.5px;
    padding: 20px;
  }
}

.contact-us-section {
  padding: 50px 0;
  margin-bottom: 80px;

  .header {
    @extend %section-header;
    font: 550 3.4em/1.3em $ubuntu;
    margin-bottom: 60px;
  }

  .description {
    @extend %section-description;
    font: 400 1.9em/1.05em $ubuntu;
    letter-spacing: -.2px;
    padding-right: 30px;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
  }

  .map-box {
    img {
      @extend %img-responsive;
    }
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .contacts {

    .header {
      position: relative;
      font: 550 3.4em/1.68em $ubuntu;

      &:after {
        content: "";
        display: inline-block;
        height: 2px;
        width: 45%;
        position: absolute;
        bottom: 0;
        left: 27.5%;
        background: $orange;
      }
    }
  }

  .contacts-list {
    @extend %reset-ul;

    .item {
      margin: 80px 0 40px 55px;
      vertical-align: middle;

      &:before {
        color: $orange;
        font-size: 2.5em;
        margin-right: 45px;
        vertical-align: middle;
      }

      a {
        color: $light-gray;
        font: 400 2.2em/1.5em $ubuntu;
        text-align: left;
        vertical-align: middle;
        display: inline-block;
        width: 65%;
      }

      a:last-child {
        font: 400 2.1em/.95em $ubuntu;
      }
    }

    .item:nth-child(2) {

      margin-top: 0;
      margin-bottom: 60px;

      &:before {
        content: "\f003";
        margin-right: 42px;
        font-size: 2em;
      }
    }

    .item:last-child {

      margin-top: 0;
      margin-bottom: 30px;

      &:before {
        margin-right: 50px;
        font-size: 2.6em;
      }
    }

  }

  .form-list {
    @extend %reset-ul;

    .item {
      margin-bottom: 8px;

      &:last-child {
        text-align: center;
        margin: 20px;
      }
    }

    input, textarea{
      border-radius: 0;
      border: 1px solid $soft-gray4;
      background: $soft-gray;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      display: inline-block;
      box-sizing: border-box;
      width: 93.5%;
      margin-left: 21px;
      font: 400 1.23em/2.2em $ubuntu;
      padding: 8px 14px;

      &::placeholder {
        color: $soft-gray4;
        text-transform: capitalize;

      }
    }

    textarea {
      resize: none;
      height: 170px;
      line-height: 2.1em;
    }

    input[type="submit"] {
      width: 72.5%;
      background: $orange;
      color: #fff;
      font: 400 1.54em/.6em $myriadProRegular;
      text-transform: capitalize;
      margin-left: 0;
      padding: 14px;
      border-radius: 5px;
    }

  }

}