@media screen and (min-width: 1140px) {
  .logo {
    margin-bottom: 0;
    a {
      font: 600 1.7em/4.2em $myriadProRegular;
      letter-spacing: 1.4px;
    }
  }

  .header-navigation {
    margin: 0 3%;

    .item {
      a {
        font: 700 1.1em/2.5em $ubuntu;
        letter-spacing: 1px;
      }
    }
  }
}