@media screen and (min-width: 1140px) {
  .main {
    .services-section {
      padding-bottom: 5px;
    }
    .services-list {
      .item {
        margin-bottom: 0;
        &:nth-child(2) {
          order: 2;
          .name {
            margin-left: 10px;
          }
        }
        &:nth-child(3) {
          order: 3;
          .name {
            margin-left: 14px;
          }
        }
        &:nth-child(4) {
          order: 4;
          .name {
            margin-left: 16px;
          }
        }
      }
    }
    .service {
      p {
        text-align: left;
        font: 400 .66em/1.52em $ubuntu;
      }
    }

    .projects-list {

      .item {
        &:nth-child(2) {
          padding-left: 30px;
        }
        &:nth-child(3) {
          padding-left: 45px;
        }
        &:nth-child(4) {
          padding-left: 65px;
        }
      }
    }

    .project {
      text-align: right;
      header {
        .name {
          padding-right: 20px;

        }
      }

      p {
        padding-right: 20px;
        letter-spacing: 1.1px;
      }
    }
  }
}