.slider-wrap__slide {
  width: 100%;
  overflow: hidden;
  ul {
    position: relative;
    width: 9900px;
    li {
      width: 100vw!important;
      float: left!important;
      text-align: center!important;
    }
  }
}

.grayscale {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.sepia {
  -webkit-filter: sepia(1);
  filter: sepia(1);
}

.saturate {
  -webkit-filter: saturate(8);
  filter: saturate(8);
}