.slider-wrap__slide {
  width: 100%;
  overflow: hidden;
  ul {
    position: relative;
    width: 9900px;
    li {
      width: 100vw!important;
      float: left!important;
      text-align: center!important;
    }
  }
}

.slider-wrap__fade {
  position: relative;
  margin: 0 auto;
  ul {
    li {
      margin: 0 auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 5;
    }

    li.active {
      z-index: 1000;
    }
  }
}


.grayscale {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.sepia {
  -webkit-filter: sepia(1);
  filter: sepia(1);
}

.saturate {
  -webkit-filter: saturate(8);
  filter: saturate(8);
}